.PersonalPhotoDiv {
    background-color: rgb(45, 118, 197);
    width: 80%;
    height: 50%;
    border-radius: 80% 30%;
}





.PersonalPhotoImg {
    width: 75%;
    height: 75%;
    transform: rotate(-15deg);
}

.cont {
    min-height: 100vh;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pText{
    color: blue;
    font-size:30px;
}