.PersonalPhotoDiv {
    background-color: rgb(195, 189, 12);
    width: 80%;
    height: 50%;
    border-radius: 80% 30%;
}





.PersonalPhotoImg {
    width: 75%;
    height: 75%;
    transform: rotate(-15deg);
}

.cont {
    min-height: 100vh;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pText{
    color: rgb(195, 189, 12);
    font-size:22px;
    font-family: "AlfaSlabOne";

}

.SpanA{
    color: #FFFFFF;
}

.FlexDiv{
    display: flex; 
    flex-direction: column;
}