@font-face{
    font-family: "Anton";
    src: url("../../public/Files/Fonts/Anton.ttf");
}

@font-face{
    font-family: "AlfaSlabOne";
    src: url("../../public/Files/Fonts/AlfaSlabOne.ttf");
}

.Cover{
    min-height: 100vh;
    width: 100vw;
}